body{
  margin: 0;
  font-family: "Segoe UI" sans-serif;
  background-color: #13141e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculatur-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.calculator{
  background-color: #0b0a16;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 0 20px  rgba(0, 0, 0, 0.6);
  width: 320px;

}

.display{
  background-color: #111637;
  color: #638efa;
  padding: 20px;
  border-radius: 12px;
  text-align: right;
  margin-bottom: 20px;
  overflow-x: auto;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;

}

.btn{
  background-color: #141b3b;
  color: #fff;
  font-size: 1.2rem;
  padding: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover{
  background-color: #111834;

}

.btn.operator{
  background-color: #09183f;
}

.btn.operator:hover{
  background-color: #0d1e47;
}

.btn.control{
  background-color: #131313; 
}

.btn.control:hover{
  background-color: #151515;
}

.btn.equals{
  background-color: #0b152f;

}

.btn.equals:{
  background-color: #132553;
}

.btn.zero{
  grid-column: span 2;
}